spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://host.docker.internal:5432/db_users
    username: 'sa-user-service'
    password: 'P@ssw0rdUs3rS3rvic3'
  session:
    store-type: redis
  redis:
    host: host.docker.internal
    password: '' # default no password, for set use SPRING_REDIS_PASSWORD or -Dspring.redis.password
    port: 6379
  flyway:
    enabled: true
    driver-class-name: org.postgresql.Driver
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    schemas:
      - 'public'
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      dialect: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    default-property-inclusion: non_null
    serialization:
      fail-on-empty-beans: false
  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: https://localhost.com.br/mypass-manager/auth/

management:
  endpoint:
    health:
      group:
        database:
          show-components: always
          show-details: always
          include:
            - db
            - redis
    shutdown:
      enabled: false
  endpoints:
    web:
      exposure:
        include:
          - 'health'
          - 'metrics'
          - 'info'

springdoc:
  swagger-ui:
    oauth2-redirect-url: http://localhost:8080/mypass-manager/users/swagger-ui/redirect
    csrf:
      enabled: false